@import "nav-bar/nav-bar.css";
@import "nav-bar/__link/nav-bar__link.css";
@import "nav-bar/__logo/nav-bar__logo.css";
@import "form/form.css";
@import "sign-form-container/sign-form-container.css";
@import "sign-form/sign-form.css";
@import "sign-form/__title/sign-form__title.css";
@import "form-group/form-group.css";
@import "button/button.css";
@import "form/__error/form__error.css";
@import "footer/footer.css";
@import "select/select.css";
@import "container/container.css";
@import "form-container/form-container.css";
@import "button-group/button-group.css";
@import "target-container/target-container.css";
@import "target/target.css";
@import "target/__field/target__field.css";
@import "button-group/__button/button-group__button.css";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}